@mixin shadowCards {
	box-shadow: 0px 1px 6px grey;
	border-radius: 8px;
}

@mixin buttonColor {
	background-color: rgb(0, 219, 95);
	box-shadow: 2px 1px 6px rgb(0, 126, 55);
	cursor: pointer;
	transition: all 0.5s;
}

@mixin buttonColorHover {
	background-color: rgb(18, 146, 74);
	box-shadow: 2px 1px 6px rgb(0, 130, 56);
	color: $textWhite;
}

@mixin inputStyle {
	font-size: $inputFontSize;
	border: 0;
	border-bottom: 1px solid grey;
	outline: 0;
	background-color: transparent;
}

@mixin hoverNavigation {
	background-color: $textColor;
	color: #fff;
	transition: background-color 0.4s;
}
@mixin linkHover {
	color: rgb(0, 126, 55);
	transition: color 0.4s;
}

@mixin focusFrame {
	color: rgb(0, 126, 55);
}

@mixin scaleCards {
	transform: scale(1.1);
}

//shadow for IOS

@mixin backgroundFirstTest {
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
	background-size: 0px !important;
	overflow: hidden;
	position: relative;
}

@mixin backgroundSecondTest {
	background-image: inherit !important;
	background-repeat: inherit !important;
	background-size: cover;
	background-position: inherit;
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1 !important;
	will-change: transform;
	pointer-events: none;
}
