//zmienne
$heroFontColor: #fff;
$backgroundColor: #fff;
$logoFontSize: 4.8rem;
$titleFontSize: 4.2rem;
$subtitleFontSize: 2.8rem;
$textFontSize: 2.1rem;
$textFontSizeMobile: 1.8rem;
$inputFontSize: 1.8rem;
$footerlinkFontSize: 1.6rem;
$heroFontSizeH1: 3.2rem;
$heroFontSizeH2: 4.2rem;
$heroFontSizeMobile: 2.8rem;
$buttonColor: #2ade72;
$textColor: #1f1f1f;
